.wrapperPageThree {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5fbff;
  overflow: hidden;
  position: relative;
  .whiteBg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 15%;
    top: 0;
    background-color: #fff;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10%;
    margin-top: 2%;
    z-index: 10;
    .logoMenu {
      width: auto;
      height: 75%;
      cursor: pointer;
    }
    ul {
      display: flex;
      flex-direction: row;
      width: 60%;
      justify-content: center;
      padding: 0;
      li {
        padding: 5px 4%;
        list-style-type: none;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        text-align: center;
        a {
          text-decoration: none;
          color: #19214c;
          cursor: pointer;
        }
      }
    }
    .socialsec2 {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      img {
        height: 70%;
        padding: 0 10px;
      }
    }
  }
  .wrapperSec3 {
    height: 88%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    z-index: 10;
    .leftImg {
      position: relative;
      margin-right: 5%;
      height: 75%;
      width: 25%;
      z-index: 10;
      overflow: hidden;
      .briefcaseBG {
        position: absolute;
        top: 0;
        height: 100%;
      }
      .briefcase {
        position: absolute;
        top: 0;
        height: 100%;
      }
    }
    .contentWrapperSec3 {
      width: 65%;
      height: 86%;
      display: flex;
      flex-direction: column;
      .titleWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
        .title {
          overflow: hidden;
          h1 {
            font-weight: 300;
            font-family: "Yeseva One", cursive;
            font-size: 65px;
            color: #19214c;
            margin: 0;
            overflow: hidden;
          }
        }
        .thickBlueLine {
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: none;
          height: 10px;
          width: 50%;
          margin-bottom: 20px;
          .TBLblue {
            width: 6%;
            height: 10px;
            background-color: #0583ff;
          }

          .TBLgrey {
            width: 94%;
            height: 1px;
            background-color: #dfe5eb;
          }
        }
        .textWrapper {
          width: 50%;
          font-size: 18px;
          color: #707070;
          overflow: hidden;
          margin-bottom: 20px;
        }
      }
      .elements {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        height: 60%;
        .element {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 25%;
          margin-right: 5%;
          .elementImg {
            height: 25%;
            img {
              height: 100%;
            }
          }
          .elementTitle {
            height: 15%;
            h2 {
              font-weight: 300;
              font-family: "Yeseva One", cursive;
              height: 22.5px;
            }
          }
          .elementText {
            height: 40%;
            width: 100%;
            font-size: 18px;
            color: #707070;
            overflow: hidden;
          }
          .avatars {
            height: 10%;
            img {
              height: 90%;
            }
          }
          .hyperlink {
            overflow: hidden;
            height: 15%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            .smallBlueLine {
              width: 5%;
              height: 2px;
              background-color: #0583ff;
            }
            button {
              background-color: Transparent;
              border: none;
              cursor: pointer;
              color: #0583ff;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1400px) {
  .wrapperPageThree {
    .menu {
      .logoMenu {
        height: 75%;
      }
      ul {
        width: 70%;
        li {
          font-size: 12px;
          a {
            text-decoration: none;
            color: #19214c;
            cursor: pointer;
          }
        }
      }
      .socialsec2 {
        width: 20%;
      }
    }
    .wrapperSec3 {
      .contentWrapperSec3 {
        .titleWrapper {
          margin-bottom: 0px;
          .title {
            h1 {
              font-size: 40px;
            }
          }
          .textWrapper {
            font-size: 14px;
            margin-bottom: 5px;
          }
        }
        .elements {
          .element {
            .elementImg {
              height: 20%;
            }
            .elementTitle {
              h2 {
                font-size: 20px;
              }
            }
            .elementText {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .wrapperPageThree {
    .wrapperSec3 {
      justify-content: flex-start;
      margin-left: 10%;
      .leftImg {
        display: none;
      }
      .contentWrapperSec3 {
        width: 90%;
        .titleWrapper {
          margin-bottom: 0px;
          .title {
            h1 {
              font-size: 40px;
            }
          }
          .textWrapper {
            font-size: 14px;
            margin-bottom: 5px;
          }
        }
        .elements {
          .element {
            .elementImg {
              height: 20%;
            }
            .elementTitle {
              h2 {
                font-size: 18px;
              }
            }
            .elementText {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .wrapperPageThree {
    .menu {
      .logoMenu {
        height: 50%;
      }
      ul {
        width: 70%;
        li {
          font-size: 10px;
          a {
            text-decoration: none;
            color: #19214c;
            cursor: pointer;
          }
        }
      }
      .socialsec2 {
        width: 20%;
        img {
          height: 50%;
          padding: 0 10px;
        }
      }
    }
    .wrapperSec3 {
      .contentWrapperSec3 {
        .titleWrapper {
          margin-bottom: 0px;
          .title {
            h1 {
              font-size: 40px;
            }
          }
          .textWrapper {
            font-size: 14px;
            margin-bottom: 5px;
          }
        }
        .elements {
          .element {
            .elementImg {
              height: 20%;
            }
            .elementTitle {
              h2 {
                font-size: 18px;
              }
            }
            .elementText {
              font-size: 14px;
            }
            .hyperlink {
              button {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .wrapperPageThree {
    .menu {
      ul {
        li {
          font-size: 10px;
          padding: 5px 2%;
        }
      }
      .socialsec2 {
        img {
          height: 50%;
          padding: 0px;
        }
      }
    }
    .wrapperSec3 {
      .contentWrapperSec3 {
        .titleWrapper {
          margin-bottom: 0px;
          .title {
            h1 {
              font-size: 32px;
            }
          }
          .thickBlueLine {
            margin: 0;
          }
          .textWrapper {
            width: 100%;
            font-size: 14px;
            margin: 0;
          }
        }
        .elements {
          height: 80%;
          flex-direction: column;
          .element {
            width: 100%;
            margin: 0;
            height: 33%;
            .elementImg {
              display: none;
            }
            .elementTitle {
              height: 25%;
              h2 {
                font-size: 18px;
                margin-bottom: 4px;
              }
            }
            .elementText {
              height: auto;
              font-size: 14px;
            }
            .hyperlink {
              margin-top: 10px;
              button {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .wrapperPageThree {
    .menu {
      ul {
        flex-wrap: wrap;
        li {
          width: 45%;
          font-size: 10px;
          padding: 5px 2%;
        }
      }
      .socialsec2 {
        width: 30%;
        img {
          padding: 0px;
        }
      }
    }
  }
}
