.wrapperPageFour {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  .blueBackground {
    position: absolute;
    background-color: #0583ff;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .darkBlueBackground {
    position: absolute;
    background-color: #19214c;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
  }
  .menu {
    background-color: #19214c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10%;
    margin-top: 2%;
    z-index: 10;
    .logoMenu {
      width: auto;
      height: 75%;
      cursor: pointer;
    }
    ul {
      display: flex;
      flex-direction: row;
      width: 60%;
      justify-content: center;
      padding: 0;
      li {
        padding: 5px 4%;
        list-style-type: none;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        text-align: center;
        a {
          text-decoration: none;
          color: #ffffff;
          cursor: pointer;
        }
      }
    }
    .socialsec2 {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      img {
        height: 70%;
        padding: 0 10px;
      }
    }
  }
  .wrapperSec4 {
    height: 86%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 10;
    .titleWrapper {
      height: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      .title {
        overflow: hidden;
        h1 {
          font-weight: 300;
          font-family: "Yeseva One", cursive;
          font-size: 65px;
          color: #ffffff;
          margin-bottom: 10px;
          margin-top: 20px;
        }
      }

      .thickBlueLine {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: none;
        height: 10px;
        width: 110%;
        margin-bottom: 20px;
        .TBLblue {
          width: 10%;
          height: 10px;
          background-color: #0583ff;
        }
        .TBLgrey {
          width: 45%;
          height: 1px;
          background-color: #dfe5eb;
        }
      }
    }
    .mark {
      height: 15%;
      p {
        display: inline;
        font-family: "Yeseva One", cursive;
        font-size: 260px;
        line-height: 0px;
        color: #707070;
        margin: 0;
      }
    }
    .description {
      width: 60%;
      height: 35%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .descriptionTitle {
        height: 15%;
        margin-top: 5%;
        h2 {
          font-weight: 300;
          font-family: "Yeseva One", cursive;
          height: 22.5px;
          color: #ffffff;
        }
      }
      .descriptionText {
        width: 100%;
        font-size: 18px;
        color: #ffffff;
        overflow: hidden;
        text-align: center;
        margin-top: 10px;
      }
    }
    .footer {
      width: 90%;
      margin-top: auto;
      margin-bottom: 5%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .attorney {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        p {
          color: #ffffff;
          font-size: 18px;
        }
        .person {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          img {
            height: 20%;
            margin-right: 10px;
          }
        }
      }
      .procentage {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        p {
          color: #ffffff;
          font-size: 18px;
        }
        .percent {
          font-family: "Yeseva One", cursive;
          font-size: 52px;
          margin: 0;
          color: #ffffff;
        }
      }
    }
  }
}
@media (max-width: 1400px) {
  .wrapperPageFour {
    .menu {
      .logoMenu {
        height: 75%;
      }
      ul {
        width: 70%;
        li {
          font-size: 12px;
          a {
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
      .socialsec2 {
        width: 20%;
      }
    }
  }
}
@media (max-width: 1200px) {
  .wrapperPageFour {
    .wrapperSec4 {
      .titleWrapper {
        .title {
          overflow: hidden;
          h1 {
            font-size: 40px;
          }
        }
      }
      .mark {
        height: 15%;
        p {
          font-size: 160px;
        }
      }
      .description {
        .descriptionTitle {
          h2 {
            font-weight: 300;
            font-family: "Yeseva One", cursive;
            height: 18px;
            color: #ffffff;
          }
        }
        .descriptionText {
          font-size: 14px;
        }
      }
      .footer {
        .attorney {
          p {
            font-size: 14px;
          }
        }
        .procentage {
          p {
            font-size: 14px;
          }
          .percent {
            font-size: 40px;
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .wrapperPageFour {
    .menu {
      .logoMenu {
        height: 50%;
      }
      ul {
        width: 70%;
        li {
          font-size: 10px;
          a {
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
      .socialsec2 {
        width: 20%;
        img {
          height: 50%;
          padding: 0 10px;
        }
      }
    }
    .wrapperSec4 {
      .titleWrapper {
        .thickBlueLine {
          margin-bottom: 10px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .wrapperPageFour {
    .menu {
      ul {
        li {
          font-size: 10px;
          padding: 5px 2%;
        }
      }
      .socialsec2 {
        img {
          padding: 0px;
        }
      }
    }
    .wrapperSec4 {
      .titleWrapper {
        .thickBlueLine {
          margin-bottom: 10px;
        }
      }
      .mark {
        height: 10%;
        p {
          font-size: 80px;
        }
      }
      .description {
        height: auto;
        .descriptionTitle {
          h2 {
            font-weight: 300;
            font-family: "Yeseva One", cursive;
            color: #ffffff;
            font-size: 18px;
          }
        }
        .descriptionText {
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .wrapperPageFour {
    .menu {
      ul {
        flex-wrap: wrap;
        li {
          width: 45%;
          font-size: 10px;
          padding: 5px 2%;
        }
      }
      .socialsec2 {
        width: 30%;
        img {
          padding: 0px;
        }
      }
    }
  }
}
